/** 
 * Variables
 */
@use 'sass:math';

// Colors
$color-base: #222;
$color-primary: #0090D4;
$color-secondary: #F05A22
;

$color-white: lighten($color-base, 100%);
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * math.div($typographic-root-font-size, 100) * $typographic-base-line-height);

// Layout
$layout-article-single-max-width: 945px;
$layout-article-single-width: $layout-article-single-max-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
